/* @Author - Nishant Amoli, Breej Vania */
.edit-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  box-shadow: 0 4.8px 4.2px rgba(0, 0, 0, 0.134),
    0 8.7px 7.3px rgba(0, 0, 0, 0.148), 0 14.5px 12px rgba(0, 0, 0, 0.16),
    0 24.3px 19.9px rgba(0, 0, 0, 0.172), 0 43.8px 35.4px rgba(0, 0, 0, 0.186),
    0 102px 82px rgba(0, 0, 0, 0.22);
  background: #fff;
  border-left: 0.8rem solid #014180;
}

.edit-profile .edit-profile-head input {
  width: 400px;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(162, 163, 162);
  border-radius: 6px;
  box-sizing: border-box;
  color: #6c757d;
  text-align: center;
}

.edit-profile .edit-profile-head input:focus {
  border: 3px solid rgb(207, 238, 199);
}

.edit-profile .edit-profile-head textarea {
  width: 400px;
  padding: 12px 20px;
  border-radius: 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(192, 194, 191);
  box-sizing: border-box;
  color: #6c757d;
  text-align: center;
}

.edit-profile .edit-profile-head p {
  color: red;
}

.edit-profile .edit-profile-head textarea:focus {
  border: 3px solid rgb(207, 238, 199);
}

.edit-profile-head {
  text-align: left;
}

.edit-profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.edit-profile-head label {
  font-weight: 550;
  margin-top: 1em;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  justify-content: center;
  width: 8rem;
}
.myButton:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.content {
  padding-bottom: 3rem;
}

.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  /* width: 50%; */
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
